DDThree/*
ThreeFlore/*
WindowsFormsApp1/*
OneSide/.vs/*
OneSide/OneSide/bin/Debug/OneSide.application
OneSide/OneSide/bin/Debug/OneSide.exe
OneSide/OneSide/bin/Debug/OneSide.exe.manifest
OneSide/OneSide/bin/Debug/OneSide.pdb
OneSide/OneSide/bin/Debug/app.publish/OneSide.exe
OneSide/OneSide/obj/Debug/OneSide.application
OneSide/OneSide/obj/Debug/OneSide.exe
OneSide/OneSide/obj/Debug/OneSide.exe.manifest
OneSide/OneSide/obj/Debug/OneSide.pdb
